@charset "Shift_JIS";

body
{
	line-heithg:150%;
}

td
{
	vertical-align:top;
}

div#contents_container
{
	width:100%;
	height:100%;
	background:url('../images/bg_contents.jpg') repeat-y;
}

div#text_container
{
	width:550px;
	margin-right:auto;
	margin-left:auto;
	padding-top:20px;
}

div.centering
{
	text-align:center;
}

img.thumbnail
{
	
}

table.maketable
{
    background-color : #FFFFFF ;
}

table.maketable td
{
	padding:8px;
}

tr.row_index
{
    background-color:#A2D0FF;
    color:#444444 ;
}

tr.col_index
{

}

tr.table_row
{
    background-color : #37abdd ;
}

div.hello_photo
{
	float:left;
}

div.hello_text
{
	float:left;
	width:300px;
	padding:10px;
	line-height:120%;
	
}

div.hello_container
{
	clear:both;
	margin-bottom:30px;
	min-height:200px;
}

div.fujiya_picture
{
	min-height:150px;
	margin-bottom:15px;
}